@charset "utf-8";

*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

div.MenuSuspenso table{
    border: 1px solid;
}

div.MenuSuspenso table tr td.espaco{
    width: 25%;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    font-weight: bolder;
    text-decoration: underline;
}
