@charset "utf-8";

    /*Reset config padrão browser*/
*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
    /*==========================*/


    /*Estilo Menu Superior*/
div.MenuSuspenso table{
    border-bottom: 1px solid;
}

div.MenuSuspenso table tr td.espaco{
    width: 25%;
    text-align: center;
}

div.MenuSuspenso table tr td a, p{
    color: black;
    font-size: 110%;
    text-decoration: none;
}

div.MenuSuspenso table tr td p{
    font-weight: bolder;
}

div.MenuSuspenso table tr td a:hover{
    font-weight: bolder;
    text-decoration: underline;
}
    /*=====================*/

h3{
    text-align: center;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    /*Out box*/
fieldset, legend{
    border: 1px solid black;
}

legend{
    padding: 5px;
}

fieldset{
    width: 40%;
    padding: 10px;
}
    /*========*/

    /*Formulario*/
div.Formulario{
    width: auto;
    margin-left: 35%;
}

div.Formulario table tr td label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

div.Formulario table tr td input{
    border: 1px solid;
    outline: none;
}

input.Confirmar, input.Apagar{
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}

input.Confirmar{
    margin-left: 130px;
}

input.Apagar{
    margin-left: 10px;
}

input.Confirmar:hover, input.Apagar:hover{
    background-color: black;
    color: white;
}
    /*===========*/

    /*Rodapé*/
footer{
    border-top: 1px solid black;
    height: 50px;
}

footer p{
    margin-top: 1%;
    text-align: center;
    color: #545454;
}
    /*======*/

